.welcome-header {
  margin: 92px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 36px;
  font-size: 25px;
}

.welcome-header__text {
  width: 58%;
  opacity: 0.7;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 35px;
  font-weight: 600;
}

.login-form input {
  padding: 25px 0px;
  border: none;
  font-size: 18px;
}

.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form input[type="submit"] {
  margin-top: 43px;
  margin-bottom: 30px;
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}

.login-form input:focus {
  border-color: var(--yellow);
}

.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
